<a href="https://colab.research.google.com/github/aryanpatel99/GEN-AI-PRACTICE/blob/main/Indian_Placement_DataSet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [136]:
import pandas as pd
import numpy as np
df1 = pd.read_csv("/content/indian_engineering_student_placement.csv")
df2 = pd.read_csv("/content/placement_targets.csv")

In [137]:
df1

,Student_ID,gender,branch,cgpa,tenth_percentage,twelfth_percentage,backlogs,study_hours_per_day,attendance_percentage,projects_completed,...,aptitude_skill_rating,hackathons_participated,certifications_count,sleep_hours,stress_level,part_time_job,family_income_level,city_tier,internet_access,extracurricular_involvement
0,1,Male,ECE,8.74,74.0,75.0,0,3.8,71.1,7,...,5,4,5,6.5,8,Yes,Medium,Tier 2,Yes,Medium
1,2,Female,ECE,7.80,75.3,69.7,0,6.3,69.5,5,...,3,4,1,7.1,8,Yes,Medium,Tier 3,Yes,Low
2,3,Female,IT,6.95,62.8,68.3,0,1.5,62.5,8,...,4,6,3,6.1,2,No,Low,Tier 2,Yes,High
3,4,Male,ECE,7.46,57.9,51.4,1,4.7,64.6,6,...,4,2,2,7.3,7,No,Medium,Tier 1,Yes,Low
4,5,Male,IT,6.86,61.3,73.5,2,5.2,75.9,3,...,3,2,1,6.0,7,No,Medium,Tier 1,Yes,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,Female,IT,10.00,90.4,98.3,0,3.7,75.3,6,...,5,4,2,7.3,2,No,Medium,Tier 3,Yes,Low
4996,4997,Male,IT,7.76,74.3,72.6,2,6.3,72.3,4,...,4,3,2,7.8,6,No,Low,Tier 1,Yes,Low
4997,4998,Male,IT,7.79,64.0,71.2,2,2.0,63.8,6,...,4,6,2,6.1,5,Yes,Low,Tier 2,No,Medium
4998,4999,Female,ECE,8.76,74.3,74.0,0,5.1,72.0,6,...,4,4,5,9.0,10,No,Medium,Tier 2,Yes,High
4999,5000,Male,CSE,9.45,85.6,80.0,0,2.8,63.4,8,...,4,6,2,7.8,1,No,Low,Tier 1,No,High

In [138]:
df2

      Student_ID placement_status  salary_lpa
0              1           Placed       14.95
1              2           Placed       14.91
2              3           Placed       17.73
3              4           Placed       14.52
4              5           Placed       15.91
...          ...              ...         ...
4995        4996           Placed       19.35
4996        4997       Not Placed        0.00
4997        4998           Placed       19.13
4998        4999           Placed       16.53
4999        5000           Placed       20.00

[5000 rows x 3 columns]

In [139]:
df = pd.merge(df1, df2, on='Student_ID', how='inner')
df

,Student_ID,gender,branch,cgpa,tenth_percentage,twelfth_percentage,backlogs,study_hours_per_day,attendance_percentage,projects_completed,...,certifications_count,sleep_hours,stress_level,part_time_job,family_income_level,city_tier,internet_access,extracurricular_involvement,placement_status,salary_lpa
0,1,Male,ECE,8.74,74.0,75.0,0,3.8,71.1,7,...,5,6.5,8,Yes,Medium,Tier 2,Yes,Medium,Placed,14.95
1,2,Female,ECE,7.80,75.3,69.7,0,6.3,69.5,5,...,1,7.1,8,Yes,Medium,Tier 3,Yes,Low,Placed,14.91
2,3,Female,IT,6.95,62.8,68.3,0,1.5,62.5,8,...,3,6.1,2,No,Low,Tier 2,Yes,High,Placed,17.73
3,4,Male,ECE,7.46,57.9,51.4,1,4.7,64.6,6,...,2,7.3,7,No,Medium,Tier 1,Yes,Low,Placed,14.52
4,5,Male,IT,6.86,61.3,73.5,2,5.2,75.9,3,...,1,6.0,7,No,Medium,Tier 1,Yes,Medium,Placed,15.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,Female,IT,10.00,90.4,98.3,0,3.7,75.3,6,...,2,7.3,2,No,Medium,Tier 3,Yes,Low,Placed,19.35
4996,4997,Male,IT,7.76,74.3,72.6,2,6.3,72.3,4,...,2,7.8,6,No,Low,Tier 1,Yes,Low,Not Placed,0.00
4997,4998,Male,IT,7.79,64.0,71.2,2,2.0,63.8,6,...,2,6.1,5,Yes,Low,Tier 2,No,Medium,Placed,19.13
4998,4999,Female,ECE,8.76,74.3,74.0,0,5.1,72.0,6,...,5,9.0,10,No,Medium,Tier 2,Yes,High,Placed,16.53
4999,5000,Male,CSE,9.45,85.6,80.0,0,2.8,63.4,8,...,2,7.8,1,No,Low,Tier 1,No,High,Placed,20.00

In [140]:
df.drop(columns=["salary_lpa"],axis = 1, inplace = True)
df.drop(columns=["Student_ID"], axis = 1 , inplace = True)

In [141]:
df

,gender,branch,cgpa,tenth_percentage,twelfth_percentage,backlogs,study_hours_per_day,attendance_percentage,projects_completed,internships_completed,...,hackathons_participated,certifications_count,sleep_hours,stress_level,part_time_job,family_income_level,city_tier,internet_access,extracurricular_involvement,placement_status
0,Male,ECE,8.74,74.0,75.0,0,3.8,71.1,7,3,...,4,5,6.5,8,Yes,Medium,Tier 2,Yes,Medium,Placed
1,Female,ECE,7.80,75.3,69.7,0,6.3,69.5,5,1,...,4,1,7.1,8,Yes,Medium,Tier 3,Yes,Low,Placed
2,Female,IT,6.95,62.8,68.3,0,1.5,62.5,8,2,...,6,3,6.1,2,No,Low,Tier 2,Yes,High,Placed
3,Male,ECE,7.46,57.9,51.4,1,4.7,64.6,6,2,...,2,2,7.3,7,No,Medium,Tier 1,Yes,Low,Placed
4,Male,IT,6.86,61.3,73.5,2,5.2,75.9,3,3,...,2,1,6.0,7,No,Medium,Tier 1,Yes,Medium,Placed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,Female,IT,10.00,90.4,98.3,0,3.7,75.3,6,3,...,4,2,7.3,2,No,Medium,Tier 3,Yes,Low,Placed
4996,Male,IT,7.76,74.3,72.6,2,6.3,72.3,4,4,...,3,2,7.8,6,No,Low,Tier 1,Yes,Low,Not Placed
4997,Male,IT,7.79,64.0,71.2,2,2.0,63.8,6,1,...,6,2,6.1,5,Yes,Low,Tier 2,No,Medium,Placed
4998,Female,ECE,8.76,74.3,74.0,0,5.1,72.0,6,4,...,4,5,9.0,10,No,Medium,Tier 2,Yes,High,Placed
4999,Male,CSE,9.45,85.6,80.0,0,2.8,63.4,8,4,...,6,2,7.8,1,No,Low,Tier 1,No,High,Placed

In [142]:
df.head()

,gender,branch,cgpa,tenth_percentage,twelfth_percentage,backlogs,study_hours_per_day,attendance_percentage,projects_completed,internships_completed,...,hackathons_participated,certifications_count,sleep_hours,stress_level,part_time_job,family_income_level,city_tier,internet_access,extracurricular_involvement,placement_status
0,Male,ECE,8.74,74.0,75.0,0,3.8,71.1,7,3,...,4,5,6.5,8,Yes,Medium,Tier 2,Yes,Medium,Placed
1,Female,ECE,7.80,75.3,69.7,0,6.3,69.5,5,1,...,4,1,7.1,8,Yes,Medium,Tier 3,Yes,Low,Placed
2,Female,IT,6.95,62.8,68.3,0,1.5,62.5,8,2,...,6,3,6.1,2,No,Low,Tier 2,Yes,High,Placed
3,Male,ECE,7.46,57.9,51.4,1,4.7,64.6,6,2,...,2,2,7.3,7,No,Medium,Tier 1,Yes,Low,Placed
4,Male,IT,6.86,61.3,73.5,2,5.2,75.9,3,3,...,2,1,6.0,7,No,Medium,Tier 1,Yes,Medium,Placed

In [143]:
df.isna().sum()

gender                            0
branch                            0
cgpa                              0
tenth_percentage                  0
twelfth_percentage                0
backlogs                          0
study_hours_per_day               0
attendance_percentage             0
projects_completed                0
internships_completed             0
coding_skill_rating               0
communication_skill_rating        0
aptitude_skill_rating             0
hackathons_participated           0
certifications_count              0
sleep_hours                       0
stress_level                      0
part_time_job                     0
family_income_level               0
city_tier                         0
internet_access                   0
extracurricular_involvement    1006
placement_status                  0
dtype: int64

In [144]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       5000 non-null   object
 1   branch                       5000 non-null   object
 2   cgpa                         5000 non-null   float64
 3   tenth_percentage             5000 non-null   float64
 4   twelfth_percentage           5000 non-null   float64
 5   backlogs                     5000 non-null   int64
 6   study_hours_per_day          5000 non-null   float64
 7   attendance_percentage        5000 non-null   float64
 8   projects_completed           5000 non-null   int64
 9   internships_completed        5000 non-null   int64
 10  coding_skill_rating          5000 non-null   int64
 11  communication_skill_rating   5000 non-null   int64
 12  aptitude_skill_rating        5000 non-null   int64
 13  hackathons_participated      5000 non-null   int64
 14  certifications_count         5000 non-null   int64
 15  sleep_hours                  5000 non-null   float64
 16  stress_level                 5000 non-null   int64
 17  part_time_job                5000 non-null   object
 18  family_income_level          5000 non-null   object
 19  city_tier                    5000 non-null   object
 20  internet_access              5000 non-null   object
 21  extracurricular_involvement  3994 non-null   object
 22  placement_status             5000 non-null   object
dtypes: float64(6), int64(9), object(8)
memory usage: 898.6+ KB

In [145]:
df.describe()

,cgpa,tenth_percentage,twelfth_percentage,backlogs,study_hours_per_day,attendance_percentage,projects_completed,internships_completed,coding_skill_rating,communication_skill_rating,aptitude_skill_rating,hackathons_participated,certifications_count,sleep_hours,stress_level
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,8.283798,74.537400,74.543060,0.343600,4.041120,72.041560,5.529400,2.132600,3.728600,3.025400,4.116400,3.704200,2.836000,6.955000,6.020200
std,1.008391,10.266752,10.244481,0.612547,1.967754,7.720029,2.053772,1.143713,1.278464,1.412358,0.716208,1.603252,1.781724,1.147881,2.851213
min,5.000000,50.000000,50.000000,0.000000,0.000000,44.700000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,4.000000,1.000000
25%,7.610000,67.400000,67.600000,0.000000,2.700000,66.600000,4.000000,1.000000,3.000000,2.000000,4.000000,3.000000,2.000000,6.200000,4.000000
50%,8.320000,74.700000,74.800000,0.000000,4.000000,72.050000,6.000000,2.000000,4.000000,3.000000,4.000000,4.000000,3.000000,7.000000,6.000000
75%,9.020000,82.000000,81.700000,1.000000,5.400000,77.200000,7.000000,3.000000,5.000000,4.000000,5.000000,5.000000,4.000000,7.800000,9.000000
max,10.000000,100.000000,100.000000,5.000000,10.000000,99.200000,8.000000,4.000000,5.000000,5.000000,5.000000,6.000000,9.000000,9.000000,10.000000

In [146]:
df['extracurricular_involvement'] = df['extracurricular_involvement'].fillna(df['extracurricular_involvement'].mode()[0])

In [147]:
df.isna().sum()

gender                         0
branch                         0
cgpa                           0
tenth_percentage               0
twelfth_percentage             0
backlogs                       0
study_hours_per_day            0
attendance_percentage          0
projects_completed             0
internships_completed          0
coding_skill_rating            0
communication_skill_rating     0
aptitude_skill_rating          0
hackathons_participated        0
certifications_count           0
sleep_hours                    0
stress_level                   0
part_time_job                  0
family_income_level            0
city_tier                      0
internet_access                0
extracurricular_involvement    0
placement_status               0
dtype: int64

In [148]:
df.dtypes

gender                          object
branch                          object
cgpa                           float64
tenth_percentage               float64
twelfth_percentage             float64
backlogs                         int64
study_hours_per_day            float64
attendance_percentage          float64
projects_completed               int64
internships_completed            int64
coding_skill_rating              int64
communication_skill_rating       int64
aptitude_skill_rating            int64
hackathons_participated          int64
certifications_count             int64
sleep_hours                    float64
stress_level                     int64
part_time_job                   object
family_income_level             object
city_tier                       object
internet_access                 object
extracurricular_involvement     object
placement_status                object
dtype: object

In [149]:
label_columns = ["family_income_level","city_tier", "extracurricular_involvement"]
oneHotColumns = ["gender", "branch","part_time_job","internet_access"]

In [150]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for col in label_columns:
  df[col] = le.fit_transform(df[col])

In [151]:
df = pd.get_dummies(df, columns=oneHotColumns, drop_first=True)

In [159]:
df['placement_status'] = df['placement_status'].map({
    'Not Placed': 0,
    'Placed': 1
})

In [160]:
X = df.drop(columns=['placement_status'], axis = 1)
y = df['placement_status']

In [161]:
from sklearn.model_selection import train_test_split
Xtrain, Xtest, ytrain, ytest = train_test_split(X,y, test_size = 0.2, random_state = 42)

In [162]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
Xtrain = sc.fit_transform(Xtrain)
Xtest = sc.transform(Xtest)

In [163]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [164]:
model = Sequential()
model.add(Dense(64,activation = "relu", input_shape=(Xtrain.shape[1],)))
model.add(Dense(32,activation = "relu"))
model.add(Dense(1,activation = "sigmoid"))

/usr/local/lib/python3.12/dist-packages/keras/src/layers/core/dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [165]:
model.compile(
    optimizer='adam',
    loss='binary_crossentropy',
    metrics=['accuracy']
)

In [166]:
model.fit(Xtrain,ytrain,epochs=10)

Epoch 1/10
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7262 - loss: 0.5110
Epoch 2/10
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8868 - loss: 0.2640
Epoch 3/10
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8946 - loss: 0.2364
Epoch 4/10
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8938 - loss: 0.2298
Epoch 5/10
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8958 - loss: 0.2256
Epoch 6/10
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9035 - loss: 0.2226
Epoch 7/10
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9021 - loss: 0.2170
Epoch 8/10
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9134 - loss: 0.2088
Epoch 9/10
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.9048 - loss: 0.2100
Epoch 10/10
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9092 - loss: 0.2088